.idea
*.iml
*.class
out
*.exe
cmake-build-debug
CMakeLists.txt
*.in
*.out
Makefile
nbproject
.dep.inc
/usaco/chapter1/ariprog/build/
/usaco/chapter1/ariprog/dist/
/usaco/chapter1/milk3/build/
/usaco/chapter1/milk3/dist/
/usaco/chapter1/numtri/build/
/usaco/chapter1/numtri/dist/
/usaco/chapter1/pprime/build/
/usaco/chapter1/pprime/dist/
